.greeting-section {
	padding: 320px;
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
}

.landing-page-header {
	background-image: url('/images/ocean.jpg');
}

.rak-page-header {
	background-image: url('/images/flower.jpg');
	background-size: cover;
	background-position: 50% 0;
}

.pa-page-header {
	background-image: url('/images/jumping.jpg');
	background-size: cover;
	background-position: 50% 0;
}

.iq-page-header {
	background-image: url('/images/stars.jpg');
	background-size: cover;
	background-position: 50% 0;
}

.page-header {
	color: white;
	font-size: 75px;
	padding-top: 30px;
	margin: 0 auto;
	width: 75%;
	font-weight: normal;
}

.page-header:hover {
	cursor: default;
}

@media (max-width: 1275px) {
	.page-header {
		font-size: 69px;
		width: 98%;
	}
}

@media (max-width: 1160px) {
	.greeting-section {
		padding-left: 250px;
		padding-right: 250px;
	}
}

@media (max-width: 930px) {
	.greeting-section {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 450px) {
	.page-header {
		width: 100%;
		font-size: 60px;
	}
}

@media (min-width: 1450px) {
	.page-header {
		font-size: 90px;
		max-width: 749px;
	}
}