* {
	box-sizing: border-box;
}

body {
	position: relative;
	margin:0px;
	padding:0px;
	width:100%;
	font-family: 'Josefin Slab', serif;
}

.hidden {
	display: none;
}

.navbar {
	background-color: #2E2E2E;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	text-align: center;
}

.navbar-header {
	color: white;
	font-size: 38px;
	margin: 15px auto;
	font-weight: normal;
}

.footer {
	background-color: #2E2E2E;
	color: white;
	height: 40px;
	padding: 13px;
}

.greeting-section {
	padding: 320px;
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
}

.page-header {
	color: white;
	font-size: 75px;
	padding-top: 30px;
	margin: 0 auto;
	width: 70%;
	font-weight: normal;
}

.lounges {
	background-color: #F5F5F5;
	padding: 40px;
	text-align: center;
}

.lounges-header {
	font-size: 65px;
	margin: 10px auto 130px auto;
}

.lounge-box {
	display: inline-block;
	width: 25%;
	margin: 0 35px;
}

.lounge-pic {
	padding: 65px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
}

.lounge-pic-header {
	color: white;
	font-size: 30px;
	max-width: 170px;
	margin: 0 auto;
} 

.lounge-description {
	font-size: 20px;
	margin-top: 15px;
}

.rak-pic {
	background-image: url('/images/flower.jpg');
}

.pa-pic {
	background-image: url('/images/jumping.jpg');
}

.iq-pic {
	background-image: url('/images/stars.jpg');
}


/*Media Queries*/


@media (max-width: 1275px) {
	.page-header {
		font-size: 69px;
		width: 95%;
	}
	.lounges {
		padding-left: 0;
		padding-right: 0;
	}
	.lounge-pic {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 1160px) {
	.greeting-section {
		padding-left: 240px;
		padding-right: 240px;
	}
	.lounge-description {
		font-size: 17px;
	}
}

@media (max-width: 990px) {
	.lounge-box {
		display: block;
		margin: 50px auto;
		width: 45%;
	}
	.lounge-pic {
		background-position: 50% -30px;
	}
}

@media (max-width: 900px) {
	.greeting-section {
		padding-left: 0;
		padding-right: 0;
	}
	
	.lounges-header {
		font-size: 55px;
	}
}

@media (max-width: 800px) {
	.lounge-box {
		width: 65%;
	}
	.lounge-pic {
		background-position: 50% -60px;
	}
}

@media (max-width: 600px) {
	.lounge-pic {
		padding: 20px;
		background-position: 50% -45px;
	}
}

@media (max-width: 450px) {
	.page-header {
		width: 100%;
		font-size: 60px;
	}
}

@media (min-width: 1450px) {
	.page-header {
		font-size: 90px;
		max-width: 749px;
	}
}


